.wrapper {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
.banner {
    align-content: flex-start;
    align-items: flex-end;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    height: 360px;
    margin-top: 60px;
    overflow: hidden;
    padding: 30px 40px;
}